src/main/mule/businesspoc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a9d0f24e-d1a9-4362-8788-6383c8dff6d4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="businesspocFlow" doc:id="ad2f6f93-26d2-4165-bc4e-abbf6936f2ff" >
		<http:listener doc:name="Listener" doc:id="458c9ad4-7e2c-486a-9a39-78a6e5e695fe" config-ref="HTTP_Listener_config" path="test"/>
		<ee:transform doc:name="Transform Message" doc:id="0472a458-2e36-4396-8b20-6dfdf9f3450e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Diwali_Offer": "Upto 80% off on all types of garments. Mobile Number: 7766016560"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="69abfde9-94d0-4e86-bc1f-9f0d8c1c8e75" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="faec75d5-3745-4ebe-b35c-7bba7caebe52" />
	</flow>
</mule>
